main{
    
display: flex;
flex-wrap: wrap;
align-content: center;
padding: 150px;
justify-content: space-evenly;
box-sizing: border-box;
    
}
div{
    width: 115px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

.bank{
    border: 2px lightgray solid;
    padding: 20px;
    width:fit-content;
    height: fit-content;
    background-color: lightgray;
}
.work{
    border: 2px lightgray solid;
    padding: 20px;
    width:fit-content;
    height: fit-content;
    background-color: lightgray;
    
}

button{
 display:inline-block; 
 padding:0.35em 1.2em;
 border:0.1em solid #a39f9f;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#b4b0b0;
 text-align:center;
 transition: all 0.2s;
}
button:hover{
    color:#000000;
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
     button{
        display:block;
        margin:0.4em auto;
    }
}
h1{
    color: black; 
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin-left: 30%;
    margin-bottom: -10px
}

h3 { 
    color: #7c795d; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 28px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 24px; 
}
h5{
    color: #4c4a37; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 12px; 
    line-height: 32px; 
}

.laptops{
    border: 2px lightgray solid;
    padding: 20px;
    width: 300px;
    height: 150px;
    background-color: lightgray;
}

.show_chosen_laptop{
    border: 2px lightgray solid;
    padding: 20px;
    width: 100%;
    height:;
    background-color: lightgray;
    float:left;
    margin-top: 50px;

}
select{
    width: max-content;
}
img{
    width: 150px;
    height: 150px;
}